@model IEnumerable<Courier_Management_System.DATA_MODEL.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Employee List</h1>

<p>
    <a asp-action="Create">Create New Employee</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Employee Name
            </th>
            <th>
                City
            </th>
            <th>
                Mobile No.
            </th>
            <th>
                EM_NID
            </th>
            <th>
                EM_ID
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EID)
            </td>
            <td >
                <button class="btn btn-primary">
                        <a class="text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                </button>
                 |    
                <button class="btn btn-secondary">
                        <a class="text-white" asp-action="Details" asp-route-id="@item.Id">Details</a>
                </button>
                 |                    
                <button class="btn btn-danger">
                        <a class="text-white" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </button>     
            </td>
        </tr>
}
    </tbody>
</table>
 